
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <a href="/compose"><button type="button" class="btn btn-danger">Compose</button></a>
    <a href="/delete"><button type="button" class="btn btn-danger">Compose</button></a>
    
    
  </div>

  
</div>

</body>
</html>
