
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <a href="/compose"><button type="button" class="btn btn-danger">Compose</button></a>
    <a>
    <!-- <form action="/delete" method="post"><button type="submit" class="btn btn-danger">Delete</button></form></a> -->
    
    
  </div>

  
</div>

</body>
</html> 
